<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--//need only for server-->
  <connectionStrings>
    <add name = "AppPressDemo" connectionString = "Data Source=.\SQLEXPRESS;Initial Catalog=AppPressDemo;Integrated Security=True" providerName = "System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="emailssl" value="true" />
    <add key="IFramePopupMode" value="true" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="200000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" maxQueryStringLength="20000" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.5">
      <namespaces />
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <sessionState timeout="60" mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/404" />
      <error statusCode="500" redirect="~/Error/500" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.4532.2" newVersion="7.1.4532.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@sysmates.com">
        <network host="smtp-relay.gmail.com" port="587" enableSsl="true" />
      </smtp>
      <!--<smtp from="noreply@emeriocorp.com">
        -->
      <!--<network host="smtp.gmail.com" password="rv1sn2np3" port="587" userName="noreply@thinksys.com" enableSsl="true"/>-->
      <!--
        <network host="email-smtp.us-east-1.amazonaws.com" password="Ao5K2WRSAr03zO1hKcMbDBvNiSObtGwkOSV/zOVkaikb" port="587" userName="AKIAIDZKOOY6L2BUUKLQ" enableSsl="true"/>
      </smtp>-->
    </mailSettings>
  </system.net>
  <!--<system.serviceModel>
	  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" >
		  <baseAddressPrefixFilters>
			  <add prefix="https://hcm.emeriocorp.com"/>
		  </baseAddressPrefixFilters>
	  </serviceHostingEnvironment>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataServiceBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DataServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DataServiceBehaviour"
               name="DataService">
        <endpoint address="" binding="webHttpBinding"
           contract="IDataService"
           behaviorConfiguration="DataServiceBehaviour"/>
      </service>
    </services>
  </system.serviceModel>-->
</configuration>